<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    <style>
        table {
            font-family: arial;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>Confirmare achizitie</h1>
    <p>Ati primit acest mesaj pentru ca ati dorit sa cumparat urmatoarele produse:</p>
        <table>
            <tr>
                <th>Produs</th>
                <th>Cod produs</th>
                <th>Cantitate</th>
                <th>Pret, unitate</th>
                <th>Pret, total</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.total_price }}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>